# Подключение к СУБД Postgres с использованием Pandas

In [44]:
# импортируем библиотеки
import pandas as pd
from sqlalchemy import create_engine

db_config = {'user': '############', # имя пользователя
            'pwd': '############', # пароль
            'host': '####################################',
            'port': 6432, # порт подключения
            'db': 'data-analyst-zen-project-db'} # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])

engine = create_engine(connection_string)

In [45]:
# Запрос к СУБД
query = '''SELECT *
            FROM dash_visits
        '''

In [46]:
df = pd.io.sql.read_sql(query, con = engine)

In [47]:
df.head()

   record_id item_topic source_topic age_segment                  dt  visits
0    1040597     Деньги         Авто       18-25 2019-09-24 18:32:00       3
1    1040598     Деньги         Авто       18-25 2019-09-24 18:35:00       1
2    1040599     Деньги         Авто       18-25 2019-09-24 18:54:00       4
3    1040600     Деньги         Авто       18-25 2019-09-24 18:55:00      17
4    1040601     Деньги         Авто       18-25 2019-09-24 18:56:00      27

In [48]:
# Сохранение файла для дашборда
df.to_csv('dash_visits.csv')

Ссылка на дашборд: https://public.tableau.com/app/profile/oleg8164/viz/Zen_dashboard_16286797022760/Dashboard1?publish=yes
<br>Ccылка на презентацию:https://drive.google.com/file/d/1koKNXRVofuBs7c-Nq9zlmncq8geJXFqQ/view?usp=sharing